@if (cucina) {

<div class="card-body">
    <h3 class="card-title">{{ cucina.title }}</h3>
    <h5 class="card-title">{{ cucina.category }}</h5>
    <p class="card-text">Data di pubblicazione: {{ cucina.date | date:"dd/MM/yyyy HH:mm" }}</p>
    <p class="card-text">{{ cucina.body }}</p>

    @if (!aggiunto) {
    <button class="btn btn-primary" (click)="aggiungiPreferiti()">
        <i class="bi bi-star"></i> Aggiungi a preferiti
    </button>
    }@else {
    <button class="btn btn-secondary" disabled>
        <i class="bi bi-star-fill"></i> Già nei preferiti
    </button>
    }

</div>
}