<div class="container p-5">
  <h1>Preferiti <i class="bi bi-star-fill"></i></h1>
  <!-- if? -->
  <app-lista-preferiti></app-lista-preferiti>
  <!-- Icona per rimuovere un dato dalla lista: <i class="bi bi-x-square-fill"></i> -->

  <hr>

  <h2>Posts</h2>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary">Tutti</button>
    <button type="button" class="btn btn-outline-secondary">Viaggi</button>
    <button type="button" class="btn btn-outline-secondary">Cucina</button>
    <button type="button" class="btn btn-outline-secondary">Moda</button>
  </div>

  @if (selectedSection == "tutti") {
  <section>
    <app-lista-dati></app-lista-dati>
  </section>
  }

  @if (selectedSection == "viaggi") {
  <section>
    <app-lista-viaggi></app-lista-viaggi>
  </section>
  }

  @if (selectedSection == "cucina") {
  <section>
    <app-lista-cucina></app-lista-cucina>
  </section>
  }

  @if (selectedSection == "moda") {
  <section>
    <app-lista-moda></app-lista-moda>
  </section>
  }


</div>

<router-outlet />