<div class="container p-5">
  <h1>Preferiti <i class="bi bi-star-fill"></i></h1>
  <!-- if? -->
  <app-lista-preferiti></app-lista-preferiti>

  <hr>

  <h2>Posts</h2>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary" (click)="select('tutti')" [ngClass]="{ 
      'btn-primary': selectedSection === 'tutti', 
      'btn-outline-secondary': selectedSection !== 'tutti' 
    }">Tutti</button>
    <button type="button" class="btn btn-outline-secondary" (click)="select('viaggi')" [ngClass]="{ 
      'btn-primary': selectedSection === 'viaggi', 
      'btn-outline-secondary': selectedSection !== 'viaggi' 
    }">Viaggi</button>
    <button type="button" class="btn btn-outline-secondary" (click)="select('cucina')" [ngClass]="{ 
      'btn-primary': selectedSection === 'cucina', 
      'btn-outline-secondary': selectedSection !== 'cucina' 
    }">Cucina</button>
    <button type="button" class="btn btn-outline-secondary" (click)="select('moda')" [ngClass]="{ 
      'btn-primary': selectedSection === 'moda', 
      'btn-outline-secondary': selectedSection !== 'moda' 
    }">Moda</button>
  </div>

  <div class="container mt-4">

    @if (selectedSection == "tutti") {
    <section>
      <app-lista-dati></app-lista-dati>
    </section>
    }

    @if (selectedSection == "viaggi") {
    <section>
      <app-lista-viaggi></app-lista-viaggi>
    </section>
    }

    @if (selectedSection == "cucina") {
    <section>
      <app-lista-cucina></app-lista-cucina>
    </section>
    }

    @if (selectedSection == "moda") {
    <section>
      <app-lista-moda></app-lista-moda>
    </section>
    }


  </div>


</div>

<router-outlet />